.wizard-container {
  background-color: transparent;

  .wizard-main{ 

  	.pager span {
      cursor: pointer;             
  		-webkit-transition: all 0.3s ease;

      &.selected{
          color: white;
          background-color: #505050;
          cursor: default; 
      }
      
      &.disabled{
          color:gray;
          cursor: not-allowed;
      }

  	}
  }
}