<div class="row wizard-container">
	<progressbar value="getProgressPercentage()" type="{{getProgressPercentage() == 100 ? 'success' : 'default'}}"></progressbar>
	<div class="wizard-main">
		<ul class="pager">			
			<li ng-repeat="step in uiState.steps">
				
					<span
						ng-click="goToStepByReference(step)" tooltip="{{step.title}}" 
						ng-class="{'disabled': getStepState(step) == stepStatesEnum.disabled, '': getStepState(step) == stepStatesEnum.complete, '': getStepState(step) == stepStatesEnum.ready, selected: getCurrentStep() == step}"><i class="{{step.titleClass}}"></i> {{step.title}}
					</span>
					
				
			</li>			
		</ul>
		<hr>
		<div class="wizard-step-container" ng-transclude></div>
		<hr>
		<div class="pull-right">
			<button class="btn btn-default previous" ng-class="{disabled: !hasPrevious()}" ng-click="goToPrevious()" ng-disabled="uiState.submitting"><i class="fa fa-arrow-circle-left"></i> Previous</button>
			<button class="btn btn-default next" ng-class="{disabled: !hasNext()}" ng-click="goToNext()" ng-disabled="uiState.submitting">Next <i class="fa fa-arrow-circle-right"></i></button>
			<button class="btn btn-default finish" ng-hide="!isSubmittable()" ng-click="onSubmitClicked()" ng-disabled="uiState.submitting">Finish </i><i class="fa fa-circle-o-notch fa-spin" ng-show="uiState.submitting"></i></button>
		</div>
	</div>
</div>