<!DOCTYPE html>

<html ng-app="myapp">
<head>
	<meta charset='utf-8'>
	<title>Wizard</title>
	<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">	
	<link rel="stylesheet" type="text/css" href="css/font-awesome.min.css">
	<link rel="stylesheet" type="text/css" href="css/site.css">
</head>
<body class="container" ng-controller="HelloController">

	<wizard current-step-number="uiState.currentStepNumber" submit="onSubmit()">
		<wizard-step title="Settings" title-class="fa fa-cog">
		<div>STEP1</div>
		<input type="text" ng-model="requiredText" required placeholder="Required Field" />
		</wizard-step>
		<wizard-step title="Map Columns" title-class="fa fa-random" required-step-number="0">
		<div>STEP2</div>
		<input type="text" ng-model="requiredText" required placeholder="Required Field" />
		</wizard-step>
		<wizard-step title="Import" title-class="fa fa-download">		
		<div>STEP3</div>
		</wizard-step>
	</wizard>

<script src="/scripts/angular.min.js"></script>
<script src="/scripts/ui-bootstrap.min.js"></script>
<script src="/scripts/ui-bootstrap-tpls.min.js"></script>
<script src="/scripts/angular-animate.min.js"></script>
<script src="/app/app.js"></script>
<script src="/app/wizard/wizardDirective.js"></script>
</body>
</html>
